version: '3.9'

services:

  api:
    build: api
    container_name: podfish_api
    depends_on:
      - postgres
    env_file:
      - ./app.env
    ports:
      - 8080:8080
    restart: on-failure
    volumes:
      - ./api:/podfish-src

  postgres:
    container_name: podfish_postgres
    env_file:
      - ./app.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U podfish"]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgres:latest
    volumes:
      - ./pg_data:/var/lib/postgresql/data

  ui:
    build: ui
    container_name: podfish_ui
    env_file:
      - ./app.env
    ports:
      - 3000:3000
    restart: on-failure
    volumes:
      - ./ui:/podfish-src
      - /podfish-src/node_modules

volumes:
  pg_data:
