version: '3.9'
services:
  api:
    container_name: podfish_api
    environment:
      - POSTGRES_DB=podfish
      - DATABASE_HOST=postgresdb
      - DATABASE_PORT=5432
      - POSTGRES_USER=podfish
      - POSTGRES_PASSWORD=podfish
    volumes:
      - ./api:/podfish-src
    build: api
    ports:
      - 8080:8080
    restart: on-failure
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: podfish_postgres
    environment:
      - POSTGRES_DB=podfish
      - DATABASE_HOST=postgresdb
      - POSTGRES_USER=podfish
      - POSTGRES_PASSWORD=podfish
    volumes:
      - ./pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
