/* Variables */

:root {
    --bg-color: white;
    --link-color: #2e8dd0;
    --text-color: #424242;
    --text-color-light: #9e9e9e;
    --theme-color: #4caf50;
    --theme-color-dark-1: #43a047;
    --theme-color-dark-2: #388e3c;
}

:root {
    --playbar-height: 96px;
    --titlebar-height: 64px;
}

/* Resets */

*, *:after, *:before { box-sizing: inherit; }

a, a:active, a:focus, a:hover, a:visited { text-decoration: none; }

button { border: none; }

body, div, html, p, span {
    margin: 0;
    padding: 0;
}

body, html, #root {
    height: 100%;
    width: 100%;
}

html {
    background-color: var(--bg-color);
    box-sizing: border-box;
}

/* Text */

a, button, h1, h2, h3, h4, h5, h6, input, label, p {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

a, button, input, label, p {
    font-size: 14px;
    line-height: 1.6em;
    tab-size: 4;
}

a, a:hover { color: var(--link-color); }

a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: var(--text-color); }

p { color: var(--text-color); }

/* Styles */

button, input[type=email], input[type=password] { padding: 8px; }

input[type=email], input[type=password] {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.app {
    height: 100%;
    width: 100%;
}

.app-body {
    padding-bottom: 32px;
    padding-top: calc(32px + var(--titlebar-height));
}

.app-content {
    margin: 0 auto;
    padding: 0 16px;
}

.break-word { word-wrap: break-word; }

.btn {
    color: black;
    cursor: pointer;
}

.btn-pill {
    background-color: var(--theme-color);
    border-radius: 9999px;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-pill:active { background-color: var(--theme-color-dark-2); }

.btn-pill:hover:not(:active) { background-color: var(--theme-color-dark-1); }

.btn-text {
    background-color: transparent;
    outline: none;
    padding: 0;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-label {
    align-items: normal;
    display: flex;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fill {
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 360px;
    width: 100%;
}

.logo {
    height: 12em;
    padding: 1.5em;
}

.mr-3 { margin-right: 16px; }

.mb-2 { margin-bottom: 8px; }

.mb-3 { margin-bottom: 16px; }

.mt-0 { margin-top: 0; }

.mt-2 { margin-top: 8px; }

.mt-3 { margin-top: 16px; }

.symbol {
    color: var(--text-color);
    font-size: 24px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.symbol-big {
    color: var(--theme-color);
    font-size: 48px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.symbol-outline {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.align-right {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

.truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Cross platform line truncation, no ellipses */
.truncate-l { overflow-y: hidden; }
.truncate-3l { max-height: 3lh; }
.truncate-3l { -webkit-line-clamp: 3; }

/* Ellipses for the browsers that support it */
.truncate-l {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.truncate-6l { max-height: 6lh; }
.truncate-6l { -webkit-line-clamp: 6; }

/* Media */

@media only screen and (min-width: 768px) {
    .app-content { max-width: 576px; }
}

@media only screen and (min-width: 992px) {
    .app-content { max-width: 576px; }
}

@media only screen and (min-width: 1200px) {
    .app-content { max-width: 768px; }
}

@media only screen and (min-width: 1400px) {
    .app-content { max-width: 992px; }
}
