/* Palette */

:root {
    --bg-color: white;
    --link-color: #2e8dd0;
    --text-color: #424242;
    --theme-color: #4caf50;
    --theme-color-dark-1: #43a047;
    --theme-color-dark-2: #388e3c;
}

/* Resets */

a, a:active, a:focus, a:hover, a:visited { text-decoration: none; }

button { border: none; }

body, div, html, p {
    margin: 0;
    padding: 0;
}

body, html, #root {
    height: 100%;
    width: 100%;
}

html { background-color: var(--bg-color); }

/* Text */

a, button, h1, h2, h3, h4, h5, h6, input, label, p {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

a, button, input, label, p {
    font-size: 14px;
    line-height: 1.6em;
    tab-size: 4;
}

a, a:hover { color: var(--link-color); }

a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: var(--theme-color); }

p { color: var(--text-color); }

/* Styles */

button, input[type=email], input[type=password] { padding: 8px; }

input[type=email], input[type=password] {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.app {
    height: 100%;
    width: 100%;
}

.app-content { margin: 0 auto; }

.app-body {
    height: calc(100% - 64px - 1px);
    overflow: auto;
    padding: 16px;
}

.btn {
    color: black;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-pill {
    background-color: var(--theme-color);
    border-radius: 9999px;
    color: white;
}

.btn-pill:active { background-color: var(--theme-color-dark-2); }

.btn-pill:hover:not(:active) { background-color: var(--theme-color-dark-1); }

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-label {
    align-items: normal;
    display: flex;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fill {
    height: 100%;
    width: 100%;
}

.logo {
    height: 12em;
    padding: 1.5em;
}

/* Media */

@media only screen and (min-width: 48em) {
    .app-content { max-width: 40em; }
}

@media only screen and (min-width: 64em) {
    .app-content { max-width: 48em; }
}

@media only screen and (min-width: 80em) {
    .app-content { max-width: 64em; }
}
