/* Palette */

:root {
  --bg-color: white;
  --link-color: #2e8dd0;
  --text-color: #424242;
  --theme-color: #4caf50;
}

/* Resets */

a, a:active, a:focus, a:hover, a:visited { text-decoration: none; }

body, div, html, p, pre, textarea {
  margin: 0;
  padding: 0;
}

body, html, #root {
  height: 100%;
  width: 100%;
}

html { background-color: var(--bg-color); }

/* Text */

a, code, h1, h2, h3, h4, h5, h6, p, pre, textarea {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

a, p {
  font-size: 14px;
  line-height: 1.6em;
  tab-size: 4;
}

a, a:hover { color: var(--link-color); }

a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { color: var(--theme-color); }

p { color: var(--text-color); }

/* Styles */

.app {
  height: 100%;
  width: 100%;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard {
  height: calc(100% - 38px - 1px);
  overflow: auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fill {
  height: 100%;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  will-change: filter;
}

