.playbar {
    align-items: center;
    background-color: white;
    border-top: var(--br);
    display: flex;
    gap: 16px;
    height: var(--playbar-height);
    inset: auto 0 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.playbar > * { min-width: 0; }

.playbar-stretch { flex: 1; }

.playbar-symbol-group {
    align-items: center;
    display: flex;
    gap: 16px;
}

.symbol-play-pause {
    color: var(--theme-color) !important;
    font-size: 48px !important;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    !important;
}

.symbol-play-pause:active { color: var(--theme-color-dark) !important; }
