.playbar {
    align-items: center;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    height: var(--playbar-height);
    inset: auto 0 0;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.playbar-item > * { white-space: nowrap; }
