.titlebar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.titlebar-content {
    align-items: center;
    display: flex;
    height: calc(64px);
    justify-content: space-between;
}

.titlebar-item > * { white-space: nowrap; }
