.titlebar {
    align-items: center;
    background-color: white;
    border-bottom: var(--br);
    display: flex;
    height: var(--titlebar-height);
    inset: 0 0 auto;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.titlebar-item > * { white-space: nowrap; }

.titlebar-logo { height: 100%; width: 50px; }
