.episode-content { margin-left: calc(24px + 16px); }

.episode-date { color: var(--text-color-light); }

.episode-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.episode-title { font-weight: bold; }
