.episode-content { margin-left: calc(24px + 16px); }

.episode-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.episode-status-bold {
    background-color: var(--theme-color-alt);
    border-radius: 4px;
    color: white;
    padding: 0 8px;
}

.episode-subtext {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.episode-title { font-weight: bold; }
