.podcast-cover {
    aspect-ratio: 1;
    max-width: 100%;
}

.podcast-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.podcast-list-item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 16px;
}

.podcast-split {
    display: flex;
    gap: 32px;
}

.podcast-split-left {
    flex-basis: 30%;
    min-width: 0;
}

.podcast-split-right {
    flex-basis: 70%;
    min-width: 0;
}
