.podcast-cover {
    aspect-ratio: 1;
    max-width: 100%;
}

.podcast-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.podcast-list-item:not(:last-of-type) {
    border-bottom: var(--br);
    padding-bottom: 16px;
}

.podcast-split {
    display: flex;
    gap: 32px;
}

.podcast-split-left {
    flex-basis: 30%;
    min-width: 0;
}

.podcast-split-right {
    flex-basis: 70%;
    min-width: 0;
}

@media only screen and (max-width: 992px) {
    .podcast-cover { max-width: 64px; }

    .podcast-split-left {
        border-bottom: var(--br);
        padding-bottom: 16px;
    }

    .podcast-header {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        padding-bottom: 8px;
    }

    .podcast-split { flex-wrap: wrap; }

    .podcast-split-left, .podcast-split-right { flex-basis: 100%; }

    .podcast-title { flex: 1; }
}
