.cover-placeholder {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
}

.cover-image {
    display: block;
    height: 100%;
    width: 100%;
    transition: opacity 0.2s ease-out;
}
