.spinner {
    animation: spin 1s linear infinite;
    border-color: #eeeeee;
    border-style: solid;
    border-radius: 50%;
    border-top-color: #2196f3;
    border-top-width: 6px;
    border-width: 6px;
    margin: 0;
    padding: 0;
    /* height: 48px; */
    /* width: 48px; */
}

.wrapper {
    width: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
