.title-bar {
    align-items: center;
    background-color: white;
    border-bottom: var(--br);
    display: flex;
    height: var(--title-bar-height);
    inset: 0 0 auto;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.title-bar-item > * { white-space: nowrap; }

.title-bar-logo { height: 100%; width: 50px; }
