.title-bar {
    align-items: center;
    background-color: white;
    border-bottom: var(--br);
    display: flex;
    height: var(--title-bar-height);
    inset: 0 0 auto;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.title-bar-account-btn {
    align-items: center;
    background-color: transparent;
    border: var(--br);
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.title-bar-account-btn:hover { background-color: rgba(0, 0, 0, 0.04); }

.title-bar-dropdown { position: relative; }

.title-bar-dropdown-content {
    background-color: white;
    border: var(--br);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 100;
}

.title-bar-dropdown-item {
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    white-space: nowrap;
}
.title-bar-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: var(--text-color);
    text-decoration: none;
}

.title-bar-item > * { white-space: nowrap; }

.title-bar-item-row {
    align-items: center;
    display: flex;
    gap: 16px;
}

.title-bar-logo { height: 100%; width: 48px; }
